<section class="content-header">
    <h1>
        营销活动
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-hand-spock-o"></i> 营销</a></li>
        <li class="active">营销活动</li>
    </ol>
</section>
<section class="content">
    <div class="box box-default">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label  class="col-md-1 control-label">活动类型</label>
                    <div class="col-md-2">
                    	<select id="actType" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
	                      <option value="0" selected="selected"></option>
	                      <option value="1">满减</option>
                    	</select>
                    </div>
                    <label  class="col-md-1 control-label">活动名称</label>
                    <div class="col-md-2">
                       <input id="actName" type="text" class="form-control">
                    </div>
	                <label  class="col-md-1 control-label">状态</label>
	                <div class="col-md-2">
                        <select id="state" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                           <option value="0" selected="selected"></option>
	                       <option value="1">待发布</option>
	                       <option value="2">进行中</option>
	                       <option value="3">已下架</option>
	                       <option value="4">已结束</option>
                        </select>
                    </div>
                    <div class="col-md-2"><a href="#/creat-activity" ><button type="button"  class="btn btn-info pull-right">新建活动</button></a></div>
                    <br>
                    <br>
                    <br>
                    <label class="col-md-1 control-label">活动时间</label>
	                <div class="col-md-5">
                        <input  type="text" id="datetime_begin" value="" readonly/> -
	                	<input type="text" id="datetime_end" value="" readonly/>
	                </div>
	                <label  class="col-md-1 control-label">活动渠道</label>
                    <div class="col-md-2">
                    	<select id="channel" class=" form-control select2 select2-hidden-accessible" style="width: 60%;" tabindex="-1" aria-hidden="true">
	                      <option value="0" selected="selected"></option>
	                      <option value="1">短信</option>
	                      <option value="2">微信</option>
                    	</select>
                    </div>
                    <div class="col-md-1">
                    	<button ng-click="select()" type="submit" class="btn btn-info pull-right">查询</button>
                    </div>
                    <div class="col-md-1">
                    	<button id="reset" ng-click="reset()" type="button" class="btn btn-info pull-right">重置</button>
                    </div>
                    
                </div>
            </div>
        </form>
        <div class="box">
               
                <div class="box-body">
                  <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-4"></div><div class="col-sm-5"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                      <tr role="row">
	                      <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" >ID</th>
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >活动类型</th>
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >活动名称</th>
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >活动时间</th>
	                      <!--<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >营销工具</th>-->
	                      <!--<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >领取人数</th>-->
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >使用次数</th>
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >投放渠道</th>
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >状态</th>
	                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="act in actList | orderBy:predicate:reverse">
		                    <td>{{$index+1}}</td>
		                    <td><div class="page-col-common">{{act.activity_type}}</div>
		                    <div class="page-col-common" ></div></td>
		                    <td><div class="page-col-common">{{act.activity_name}}</div><div class="page-col-common" ></div></td>
		                    <td><div class="page-col-common">{{act.activity_starting}}至{{act.activity_deadline}}</div><div class="page-col-common" ></div></td>
		                    <!--<td><div class="page-col-common">{{act.actTool}}</div><div class="page-col-common" ></div></td>-->
		                    <!--<td><div class="page-col-common">{{act.getterSum}}</div><div class="page-col-common" ></div></td>-->
	                      	<td><div class="page-col-common">{{act.useSum}}</div><div class="page-col-common" ></div></td>
	                        <td><div class="page-col-common">{{act.channel}}</div><div class="page-col-common" ></div></td>
	                        <td><div class="page-col-common">{{act.activity_status}}</div><div class="page-col-common" ></div></td>
		                   	<td><div class="page-col-common">
			                   		<button  ng-click="showdialog(0)" ng-class="{true: 'show', false: 'hide'}[{{act.state=='待发布'}}]">发布</button>
			                   		<a href="#/activityDetails" ><button ng-class="{true: 'show', false: 'hide'}[{{act.state=='待发布'}}]">编辑</button></a>
			                   		<button ng-click="showdialog(1)" ng-class="{true: 'show', false: 'hide'}[{{act.state=='进行中'}}]">下架</button>
			                   		<a href="#/activityDetails" ><button ng-class="{true: 'show', false: 'hide'}[{{act.state!='待发布'}}]">查看</button></a>
			                   		
			                   	  
		                   		</div>
		                   		<div class="page-col-common" ></div>
		                   	</td>
		                </tr>
                    </tbody>
                  </table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                  	<ul  class="pagination">
                  		<li class="paginate_button previous disabled" id="example2_previous">
                  			<a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                  		</li>
                  		<li ng-repeat="act in actList" ng-class="{true: 'active', false: 'inactive'}[{{$index+1}}==1]" class="paginate_button unactive">
                  			<a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">{{$index+1}}</a>
                  		</li>
                  		<li class="paginate_button next" id="example2_next">
                  			<a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a>
                  		</li>
                  		</ul></div></div></div></div>
                </div><!-- /.box-body -->
              </div>
    </div>
</section>
<!-- dialog-begin -->
<div ng-class="{'modal fade in':model_in_edit_fb}" ng-style="model_style_edit" style="display:none">
    <div class="modal-dialog page-dialog" style="width:30%;height: 40%;margin-top: 300px;">
        <div class="modal-content" style="border-radius:5px;">
            <div class="modal-header" style="border-bottom: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
                <h4 class="modal-title">请选择投放渠道</h4>
            </div>
            <div class="modal-body">
            	<div class="checkbox">
			      <label>
			      	<input type="checkbox"> 短信
			      </label>
			      <label>
			      	<input type="checkbox"> 微信
			      </label>
			    </div>
         	</div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">关闭</button>
            </div>
        </div>
    </div>
</div>
<div ng-class="{'modal fade in':model_in_edit_xj}" ng-style="model_style_edit" style="display:none">
    <div class="modal-dialog page-dialog" style="width:30%;height: 40%;margin-top: 300px;">
        <div class="modal-content" style="border-radius:5px;">
            <div class="modal-header" style="border-bottom: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            	活动还未到结束日期确定下架吗？
         	</div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- dialog-end -->
