 <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="styles/img/waipojia/logo.png" class="img-circle" style="width: 45px;height: 45px; margin-top: -2px;"/></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="styles/img/waipojia/logo.png" class="img-circle" style="width: 45px;height: 45px; margin-top: -5px;margin-left: -25px;"/><b style="margin-left: 20px;">外婆家 de </b>后台</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="sidebar">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!--<div class="navbar-custom-menu">-->
            <!--<ul class="nav navbar-nav">-->
              <!--&lt;!&ndash; Messages: style can be found in dropdown.less&ndash;&gt;-->


              <!--&lt;!&ndash; User Account: style can be found in dropdown.less &ndash;&gt;-->
              <!--<li class="dropdown user user-menu">-->
                <!--<a href="" class="dropdown-toggle" data-toggle="dropdown">-->
                  <!--&lt;!&ndash; <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> &ndash;&gt;-->
                  <!--<span class="hidden-xs">Alexander Pierce</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--&lt;!&ndash; User image &ndash;&gt;-->
                  <!--<li class="user-header">-->
                    <!--&lt;!&ndash; <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> &ndash;&gt;-->
                    <!--<p>-->
                      <!--Alexander Pierce - Web Developer-->
                      <!--<small>Member since Nov. 2012</small>-->
                    <!--</p>-->
                  <!--</li>-->
                  <!--&lt;!&ndash; Menu Body &ndash;&gt;-->
                  <!--<li class="user-body">-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<a href="">Followers</a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<a href="">Sales</a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<a href="">Friends</a>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--&lt;!&ndash; Menu Footer&ndash;&gt;-->
                  <!--<li class="user-footer">-->
                    <!--<div class="pull-left">-->
                      <!--<a href="" class="btn btn-default btn-flat">Profile</a>-->
                    <!--</div>-->
                    <!--<div class="pull-right">-->
                      <!--<a href="" class="btn btn-default btn-flat">Sign out</a>-->
                    <!--</div>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--&lt;!&ndash; Control Sidebar Toggle Button &ndash;&gt;-->
              <!--<li>-->
                <!--<a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        </nav>
      </header>


